* {
    margin: 0%;
    padding: 0%;
}
body {
    background: linear-gradient(0deg, #5a250b 34.62%, #ac6947 81.73%);
	width: 1440px;
    background-repeat: no-repeat;
    width: auto;
    height: 809px;
    flex-shrink: 0;
    font-family: Calligraffitti;
    line-height: normal;
}
header {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-around;
}
header a {
    font-size: 34px;
    text-decoration: none;
    color: white;
}
.logo {
    display: flex;
    justify-content: flex-start;

}
.logo img {
    width: 100px
}
.user img{
    width: 64px;
}
nav {
    background-color: #4E240F;
    font-size: 24px;
    text-align: center;
    color: white;
}
.sc1 {
    display: flex;
    justify-content: space-between;
}
.group-child {
  	position: absolute;
  	top: 77px;
  	left: 37px;
  	border-radius: 20px;
  	background-color: #291004;
  	width: 511px;
  	height: 446px;
}
.route-on-today {
  	position: absolute;
  	top: 109px;
  	left: 146px;
  	font-size: 48px;
  	display: inline-block;
  	width: 293px;
  	height: 92px;
}
.shevchenko-boulevard {
  	position: absolute;
  	top: 200px;
  	left: 127px;
}
.avenue-of-victory {
  	position: absolute;
  	top: 290px;
  	left: 127px;
}
.shakhtarskyi-microdistrict {
  	position: absolute;
  	top: 379px;
  	left: 127px;
}
.group-item {
  	position: absolute;
  	top: 457px;
  	left: 0px;
  	width: 98px;
  	height: 98px;
}
.group-inner {
  	position: absolute;
  	top: 0px;
  	left: 439px;
  	width: 190px;
  	height: 190px;
}
.group-icon {
  	position: absolute;
  	top: 431px;
  	left: 443px;
  	width: 137px;
  	height: 137px;
}
.rectangle-parent {
  	width: 100%;
  	position: relative;
  	height: 568px;
  	text-align: left;
  	font-size: 24px;
  	color: #fff;
  	font-family: Calligraffitti;
}
.cars {
	display: flex;
	justify-content: space-between;
	height: 150px;
	align-items: center;
	background-color: #5A250B;
}
.koffees {
	height: 150px;
	text-align: center;
	font-size: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4e240f;
	color: white;
}
.main2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
	background: linear-gradient(0deg, #ac6947 34.62%, #5a250b 81.73%);
}
.section {
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    border: #3E2918 solid 2px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.section:hover {
    transform: scale(1.05);
}
.section img {
    width: 100%;
    height: 285px;
}
.section p {
    margin: 10px;
}
.назва {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #3E2918;
    font-weight: bold;
}
.склад {
    display: flex;
    justify-content: flex-start;
    color: #3E2918;
    height: 50px;
}
.вага {
    font-size: 10px;
    color: gray;
}
.ціна {
    color: #3E2918;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.замовити {
    width: 150px;
    height: 50px;
    background-color: #3E2918;
    margin: 10px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}
.замовити:hover {
    transform: scale(1.05);
}
.замовити a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top: 8px;
    text-decoration: none;
}

footer {
	height: 150px;
	background-color: #ac6947;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(180deg, #e5b7b7, #7f6566);
	align-items: center;
}
footer img {
	width: 64px;
}
a {
	transition: transform 0.3s;
}
a:hover {
	transform: scale(1.1);
}
.xyz {
	border-top: #291004 solid 25px;
	background-color: #AC6947;
	text-align: center;
}
.cups {
	display: flex;
	justify-content: space-around;
	background-color: #AC6947;
}
.cups img {
	width: 25%;
}